/* Toggle Block Styles */

.toggle-block {
  background: #e9e6df;
  padding: 20px;
  margin-bottom: 1em;
}

.left-side, .right-side {
  padding: 0;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  position: relative;
}

.left-side {
  max-width: 45%;
  width: 45%;
}

.right-side {
  background: #ffffff;
  padding: 0;
  width: 55%;
  max-width: 55%;
}

.toggle-block-feature {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  z-index: -1;
  overflow: hidden;
  padding: 20px;
}

.toggle-block-feature.active {
  position: relative;
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.toggle-block-content {
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.6em;
  padding: 0;
  transition: .5s;
}

.toggle-block-feature.active .toggle-block-content {
  bottom: 0;
  transition: 1s;
}

.toggle-block-content a.btn.feature-btn {
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.toggle-block-content .field-name-field-s-toggle-content {
  padding: 3% 8%;
  padding-bottom: 0;
}

.toggle-block-content .field-name-field-s-toggle-links {
  padding: 3% 8%;
  padding-top: 0;
}

.toggle-block-content .field-name-field-s-toggle-links .field-item {
  display: inline-block;
}

.toggle-block .content ul li {
  color: #8c1515;
  background: transparent;
  padding: .7em 1em;
  list-style-type: none;
}

.toggle-block .content ul li.active {
  background: #ffffff;
}

.toggle-links a {
  font-size: 1.2em;
  color: #8c1515;
  font-weight: 400;
  text-transform: uppercase;
}

.toggle-links a:hover, .toggle-links a:focus {
  color: #333333;
  text-decoration: none;
}

.toggle-links li.active a {
  color: #333333;
  outline: none;
}

.toggle-links .first {
  margin-top: 2em;
}

.toggle-block .item-list ul li {
  margin-left: 0;
}


/* RESPONSIVE STYLES */

@media (max-width: 680px) {
  .left-side, .right-side {
    width: 100%;
    max-width: 100%;
  }
  .toggle-block {
    padding: 20px;
  }
  .toggle-block-feature {
    padding: 0;
    transition: none;
  }
  .right-side {
    background: transparent;
    padding: 0;
  }
}

@media (max-width: 979px) {
  .toggle-block-content {
    position: static;
    background: #f8f7f2;
  }
}
